header {
    background-color: #333;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a.active {
    font-weight: bold;
    border-bottom: 2px solid white;
  }
  
  main {
    padding: 20px;
  }